/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #202020;
    text-shadow: none;
    color: #fff;
}

::selection {
    background: #202020;
    text-shadow: none;
    color: #fff;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, *{
    font-family: 'Raleway', sans-serif;
}

/* TESTER */
    #testHeight{
        position: absolute;
        width: 100px;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid red;
    }

    .tenpercent{
        position: relative;
        float: left;
        width: 100%;
        height: 10%;
        box-sizing: border-box;
        border: 1px solid red;
    }

/* SPLASH SCREEN */
    #fullWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        min-height: 480px;
        top: 0; left: 0;
        /*background-color: #e9ecef;*/
        background-color: #fff;
        overflow: hidden;
    }

        #setBG{
            position: absolute;
            width: 100%;
            height: 100%;

            z-index: 1;
        }
            #setBG #firstInnerSet{
                position: absolute;
                width: 60vw;
                height: 60vw;
                border-radius: 50%;
                border: 1px solid #cccdd2;
                opacity: .9;
                /*background-color: rgba(255,255,0,.2);*/
                top: 50%; left: 50%;
                -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                   -moz-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                    -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                     -o-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                        transform: translate(-50%, -50%) rotate(0deg) scale(1,1);

                -webkit-animation: fraktal 30s linear infinite normal;
                   -moz-animation: fraktal 30s linear infinite normal;
                    -ms-animation: fraktal 30s linear infinite normal;
                     -o-animation: fraktal 30s linear infinite normal;
                        animation: fraktal 30s linear infinite normal;
            }
            /*/// KEYFRAMES FRAKTAL ///*/
                @-webkit-keyframes fraktal {
                    0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                            -moz-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                             -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                              -o-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                                 transform: translate(-50%, -50%) rotate(0deg) scale(1,1); }
                    
                    50% {
                        -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                           -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                            -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                             -o-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                                transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                    }

                    100% { -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                              -moz-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                               -ms-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                -o-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                   transform: translate(-50%, -50%) rotate(360deg) scale(1,1); }
                }
                @-moz-keyframes fraktal {
                    0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                            -moz-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                             -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                              -o-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                                 transform: translate(-50%, -50%) rotate(0deg) scale(1,1); }
                    
                    50% {
                        -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                           -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                            -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                             -o-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                                transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                    }

                    100% { -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                              -moz-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                               -ms-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                -o-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                   transform: translate(-50%, -50%) rotate(360deg) scale(1,1); }
                }
                @-ms-keyframes fraktal {
                    0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                            -moz-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                             -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                              -o-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                                 transform: translate(-50%, -50%) rotate(0deg) scale(1,1); }
                    
                    50% {
                        -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                           -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                            -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                             -o-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                                transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                    }

                    100% { -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                              -moz-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                               -ms-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                -o-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                   transform: translate(-50%, -50%) rotate(360deg) scale(1,1); }
                }
                @-o-keyframes fraktal {
                    0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                            -moz-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                             -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                              -o-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                                 transform: translate(-50%, -50%) rotate(0deg) scale(1,1); }
                    
                    50% {
                        -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                           -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                            -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                             -o-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                                transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                    }

                    100% { -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                              -moz-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                               -ms-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                -o-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                   transform: translate(-50%, -50%) rotate(360deg) scale(1,1); }
                }
                @keyframes fraktal {
                    0% { -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                            -moz-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                             -ms-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                              -o-transform: translate(-50%, -50%) rotate(0deg) scale(1,1);
                                 transform: translate(-50%, -50%) rotate(0deg) scale(1,1); }
                    
                    50% {
                        -webkit-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                           -moz-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                            -ms-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                             -o-transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                                transform: translate(-50%, -50%) rotate(180deg) scale(1.5,1.5);
                    }

                    100% { -webkit-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                              -moz-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                               -ms-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                -o-transform: translate(-50%, -50%) rotate(360deg) scale(1,1);
                                   transform: translate(-50%, -50%) rotate(360deg) scale(1,1); }
                }
            /*/// END KEYFRAMES FRAKTAL ///*/


                #setBG .setStyle{
                    position: absolute;
                    width: 61.8%;
                    height: 61.8%;
                    border: 1px solid #cccdd2;
                    opacity: .9;
                    /*background-color: rgba(255,255,0,.2);*/
                    border-radius: 0%;
                    
                    -webkit-animation: setRotate 60s linear infinite normal;
                       -moz-animation: setRotate 60s linear infinite normal;
                        -ms-animation: setRotate 60s linear infinite normal;
                         -o-animation: setRotate 60s linear infinite normal;
                            animation: setRotate 60s linear infinite normal;
                }
                    
                /*/// KEYFRAMES SET ROTATION ///*/
                    @-webkit-keyframes setRotate {
                        0% { -webkit-transform: rotate(0deg);
                           -moz-transform: rotate(0deg);
                            -ms-transform: rotate(0deg);
                             -o-transform: rotate(0deg);
                                transform: rotate(0deg);

                            border-radius: 0%; }

                        50% {border-radius: 50%;}
                        
                        100% { -webkit-transform: rotate(360deg);
                           -moz-transform: rotate(360deg);
                            -ms-transform: rotate(360deg);
                             -o-transform: rotate(360deg);
                                transform: rotate(360deg);

                            border-radius: 0%; }
                    }
                    @-moz-keyframes setRotate {
                        0% { -webkit-transform: rotate(0deg);
                           -moz-transform: rotate(0deg);
                            -ms-transform: rotate(0deg);
                             -o-transform: rotate(0deg);
                                transform: rotate(0deg);

                            border-radius: 0%; }

                        50% {border-radius: 50%;}
                        
                        100% { -webkit-transform: rotate(360deg);
                           -moz-transform: rotate(360deg);
                            -ms-transform: rotate(360deg);
                             -o-transform: rotate(360deg);
                                transform: rotate(360deg);

                            border-radius: 0%; }
                    }
                    @-ms-keyframes setRotate {
                        0% { -webkit-transform: rotate(0deg);
                           -moz-transform: rotate(0deg);
                            -ms-transform: rotate(0deg);
                             -o-transform: rotate(0deg);
                                transform: rotate(0deg);

                            border-radius: 0%; }

                        50% {border-radius: 50%;}
                        
                        100% { -webkit-transform: rotate(360deg);
                           -moz-transform: rotate(360deg);
                            -ms-transform: rotate(360deg);
                             -o-transform: rotate(360deg);
                                transform: rotate(360deg);

                            border-radius: 0%; }
                    }
                    @-o-keyframes setRotate {
                        0% { -webkit-transform: rotate(0deg);
                           -moz-transform: rotate(0deg);
                            -ms-transform: rotate(0deg);
                             -o-transform: rotate(0deg);
                                transform: rotate(0deg);

                            border-radius: 0%; }

                        50% {border-radius: 50%;}
                        
                        100% { -webkit-transform: rotate(360deg);
                           -moz-transform: rotate(360deg);
                            -ms-transform: rotate(360deg);
                             -o-transform: rotate(360deg);
                                transform: rotate(360deg);

                            border-radius: 0%; }
                    }
                    @keyframes setRotate {
                        0% { -webkit-transform: rotate(0deg);
                           -moz-transform: rotate(0deg);
                            -ms-transform: rotate(0deg);
                             -o-transform: rotate(0deg);
                                transform: rotate(0deg);

                            border-radius: 0%; }

                        50% {border-radius: 50%;}
                        
                        100% { -webkit-transform: rotate(360deg);
                           -moz-transform: rotate(360deg);
                            -ms-transform: rotate(360deg);
                             -o-transform: rotate(360deg);
                                transform: rotate(360deg);

                            border-radius: 0%; }
                    }
                /*/// END KEYFRAMES SET ROTATION ///*/

                    #setBG #firstInnerSet .topSet{
                        margin: auto;
                        top: 0;
                        left: 0; right: 0;
                    }
                    #setBG #firstInnerSet .rightSet{
                        margin: auto;
                        right: 0;
                        top: 0; bottom: 0;
                    }
                    #setBG #firstInnerSet .bottomSet{
                        margin: auto;
                        bottom: 0;
                        left: 0; right: 0;
                    }
                    #setBG #firstInnerSet .leftSet{
                        margin: auto;
                        left: 0;
                        top: 0; bottom: 0;
                    }

                    #setBG #firstInnerSet .centerSet{
                        width: 66.666% !important;
                        height: 66.666% !important;
                        margin: auto;
                        left: 0; right: 0;
                        top: 0; bottom: 0;
                    }

        #description{
            position: absolute;
            width: 500px;
            height: 280px;
            margin: auto;
            top: 0; bottom: 0; left: 0; right: 0;
            color: #000f1c;
            z-index: 1000;
        }
            #description img{
                position: relative;
                float: left;
                display: inline-block;
                vertical-align: top;
                zoom: 1; /* Fix for IE7 */
                *display: inline; /* Fix for IE7 */
                width: 100%;
            }

            #description .tagline{
                position: relative;
                float: left;
                display: inline-block;
                vertical-align: top;
                zoom: 1; /* Fix for IE7 */
                *display: inline; /* Fix for IE7 */
                width: 100%;
                height: 40px;
                top: 10px;
            }
                #description .tagline .innerTags{
                    position: relative;
                    height: 40px;
                    float: left;
                    display: inline-block;
                    vertical-align: top;
                    zoom: 1; /* Fix for IE7 */
                    *display: inline; /* Fix for IE7 */
                    overflow: hidden;
                }
                    #description .tagline .innerTags h2{
                        margin: 0;
                        line-height: 40px;
                        font-weight: 300;
                        font-size: 26px;
                    }

                #description .tagline .leftTag{
                    width: 49.5%;
                    text-align: right;
                    /*background-color: #ff0000;*/
                }
                    #description .tagline .leftTag .leftText{
                        position: absolute;
                        width: 95%;
                        right: 5%;
                        top: 0px;
                        overflow: hidden;

                        -webkit-transition: all .6s ease-in-out;
                           -moz-transition: all .6s ease-in-out;
                            -ms-transition: all .6s ease-in-out;
                             -o-transition: all .6s ease-in-out;
                                transition: all .6s ease-in-out;
                    }
                #description .tagline .centerTag{
                    width: 1%;
                    /*background-color: #00ff00;*/
                }
                    #description .tagline .centerTag .circleDiv{
                        position: absolute;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        margin: auto;
                        top: 0; bottom: 0; left: 0; right: 0;
                        background-color: #000f1c;
                    }
                #description .tagline .rightTag{
                    width: 49.5%;
                    text-align: left;
                    /*background-color: #0000ff;*/
                }
                    #description .tagline .rightTag .rightText{
                        position: absolute;
                        width: 95%;
                        left: 5%;
                        top: 0px;
                        overflow: hidden;
                        font-weight: 700;

                        -webkit-transition: all .6s ease-in-out;
                           -moz-transition: all .6s ease-in-out;
                            -ms-transition: all .6s ease-in-out;
                             -o-transition: all .6s ease-in-out;
                                transition: all .6s ease-in-out;
                    }

                    .innerTags .lowerText{
                        top: 64px !important;
                    }
                    .innerTags .upperText{
                        top: -64px !important;
                    }

            #description .button{
                position: relative;
                border: 1px solid #000f1c;
                text-align: center;
                display: table;
                margin: auto;
                left: 0; right: 0;
                top: 50px;

                -webkit-transition: all .6s ease-in-out;
                   -moz-transition: all .6s ease-in-out;
                    -ms-transition: all .6s ease-in-out;
                     -o-transition: all .6s ease-in-out;
                        transition: all .6s ease-in-out;
            }

            #description .button:hover{
                border-radius: 6px;
                background-color: #fff;
                border-color: transparent;
                box-shadow: 0px 5px 9px #D9DDE0;
            }

                #description .button a{
                    position: relative;
                    display: block;
                    padding: 10px 20px;
                    text-decoration: none;
                    color: #000f1c;
                }

                    #description .button a h3{
                        margin: 0;
                        padding: 0;
                        font-size: 18px;
                        font-weight: 100;
                    }

        #rrss{
            position: absolute;
            width: 175px;
            height: 43.75px;
            margin: auto;
            left: 0; right: 0;
            bottom: 50px;
            z-index: 1000;
        }
            #rrss ul{
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0;
                margin: 0;
            }

                #rrss ul li{
                    position: relative;
                    width: 25%;
                    height: 100%;
                    float: left;
                    display: inline-block;
                    vertical-align: top;
                    zoom: 1; /* Fix for IE7 */
                    *display: inline; /* Fix for IE7 */

                    -webkit-transition: all .4s ease-in-out;
                       -moz-transition: all .4s ease-in-out;
                        -ms-transition: all .4s ease-in-out;
                         -o-transition: all .4s ease-in-out;
                            transition: all .4s ease-in-out;
                }
                #rrss ul li:hover{
                    background-color: #fff;
                    /*opacity: .7;*/
                    /*filter: alpha(opacity=70);*/
                    border-radius: 50%;
                    box-shadow: 0px 5px 9px #D9DDE0;
                }
                    #rrss ul li img{
                        width: 100%;
                    }

        footer {
            position: absolute;
            width: 100%;
            height: 40px;
            bottom: 5px;
            overflow: hidden;
            z-index: 100;
        }

            footer a{
                position: absolute;
                width: 100%;
                display: block;
                line-height: 50px;
                color: #000f1c;
                text-decoration: none;
                text-align: center;
                opacity: 1;
                filter: alpha(opacity=100);

                -webkit-transition: all .4s ease-in-out;
                   -moz-transition: all .4s ease-in-out;
                    -ms-transition: all .4s ease-in-out;
                     -o-transition: all .4s ease-in-out;
                        transition: all .4s ease-in-out;
            }
                footer a:hover{
                    opacity: .5;
                    filter: alpha(opacity=50);
                }
/* END SPLASH */


/* RESPONSIVE */
    
    /* MOBILE */
    @media (max-width: 767px){
        #setBG{
            border-width: 15px;
        }

        #setBG #firstInnerSet{
            width: 100vh;
            height: 100vh;
        }

        #description{
            width: 80%;
            height: 160px;
        }

            #description .tagline{
                height: 25px;
                top: 10px;
            }

                #description .tagline .innerTags{
                    height: 25px;
                }

                    #description .tagline .innerTags h2{
                        font-size: 18px;
                        line-height: 25px;
                    }

                #description .tagline .leftTag{
                    width: 47.5%;
                }
                #description .tagline .centerTag{
                    width: 5%;
                }
                #description .tagline .rightTag{
                    width: 47.5%;
                }

            #description .button{
                top: 40px;
            }

                #description .button a{
                    padding: 8px 10px;
                }

                    #description .button a h3{
                        font-size: 14px;
                    }

        #rrss{
            width: 160px;
            height: 40px;
        }

        footer {
            bottom: 20px;
        }
    }

    @media (max-width: 767px) and (orientation:landscape){
        #fullWrapper{
            min-height: 280px;
        }

        #description{
            width: 60%;
            max-width: 250px;
            height: 160px;
            top: -50px;
        }

        #description .tagline{
            top: 0px;
        }

        #description .button{
            top: 20px;
        }
    }
/* END RESPONSIVE */















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
